body {
  margin: 0;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  border-bottom: 2px dashed #000;
}

.page-title {
  font-size: 3em;
}

p {
  line-height: 30px;
}

@media only screen and (min-width: 640px) {
  .page-title {
    font-size: 4em;
  }
}
